* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary: rgb(0, 0, 97);
    --secondary: rgb(63, 61, 61);
    font size: ;
}


/************************Top of the page styles*********************************/
.page-top {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    border-bottom: 3px solid var(--secondary);
    background-image: linear-gradient(to right, green, blue, var(--secondary));
    padding: 0px 5px;
}

#hi-score {
text-align: left;
width: 50%;
}

#timer {
    text-align: right;
    width: 50%;
    color: white;

}

/************************Middle of Page Styles************************************/

.question {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.disclaimer {
    font-size: large;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to bottom, red, rgb(255, 60, 0));
}

.question h1 {
    display: flex;
    text-align: center;
    padding: 15px 10px;
}

.question div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    align-content: center;
    width: 60%;
}

.askStyle {
    font-size: large;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to bottom, var(--primary), rgb(0, 58, 22));
}

#answer-opt {
    border: solid var(--primary) 2px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
}

/*button {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    padding: 10px 50px;
    background-color: var(--primary);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    
}*/

.submit-btn {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    padding: 10px 50px;
    background-color: var(--primary);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.exit-btn {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    padding: 10px 50px;
    background-color: red;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}